################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AccoonProjectTemplate/Application/Accoon.Application/obj
/AccoonProjectTemplate/Domain/Accoon.Domain/obj
/AccoonProjectTemplate/Infastructure/Accoon.Infastructure/obj
/AccoonProjectTemplate/Persistence/Accoon.Persistence/obj
/AccoonProjectTemplate/Presenter/Accoon.Api/obj
/AccoonProjectTemplate/.vs/AccoonProjectTemplate/v16/Server/sqlite3
/.vs
/ProjectTemplateFile/Accoon.Api/obj
/ProjectTemplateFile/Accoon.Application/obj/Debug/netcoreapp2.2
/ProjectTemplateFile/Accoon.Application/obj/Release/netcoreapp2.2
/ProjectTemplateFile/Accoon.Domain/obj
/ProjectTemplateFile/Accoon.Infastructure/obj
/ProjectTemplateFile/Accoon.Persistence/obj/Debug/netcoreapp2.2
/ProjectTemplateFile/Accoon.Persistence/obj/Release/netcoreapp2.2
/AccoonProjectTemplate/Application/Accoon.Application/bin/Debug/netcoreapp2.2
/AccoonProjectTemplate/Domain/Accoon.Domain/bin/Debug/netcoreapp2.2
/AccoonProjectTemplate/Infastructure/Accoon.Infastructure/bin/Debug/netcoreapp2.2
/AccoonProjectTemplate/Persistence/Accoon.Persistence/bin/Debug/netcoreapp2.2
/AccoonProjectTemplate/.vs/AccoonProjectTemplate/v15/Server/sqlite3
/AccoonProjectTemplate/Presenter/Accoon.Api/bin/Debug/netcoreapp2.2
